MartinezRojo-Noelia-arso-laboratorio-Usuarios/xml/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.example.org/user" 
		xmlns:tns="http://www.example.org/user" 
		elementFormDefault="qualified">

	<element name="user">
		<complexType>
			<attribute name="name" type="string" use="required"></attribute>
			<attribute name="email" type="string" use="required"></attribute>
			<attribute name="role" type="tns:role" use="required"></attribute>
		</complexType>
	</element>
	
	<simpleType name="role">
		<restriction base="string">
			<enumeration value="teacher"></enumeration>
			<enumeration value="student"></enumeration>
		</restriction>
	</simpleType>
	
</schema>