MartinezRojo-Noelia-arso-laboratorio-Usuarios/xml/usuario.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.example.org/usuario" 
		xmlns:tns="http://www.example.org/usuario" 
		elementFormDefault="qualified">

	<element name="usuario">
		<complexType>
			<attribute name="nombre" type="string" use="required"></attribute>
			<attribute name="email" type="string" use="required"></attribute>
			<attribute name="rol" type="tns:rol" use="required"></attribute>
		</complexType>
	</element>
	
	<simpleType name="rol">
		<restriction base="string">
			<enumeration value="profesor"></enumeration>
			<enumeration value="estudiante"></enumeration>
		</restriction>
	</simpleType>
	
</schema>